.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --main-Color:#19c8fa;
  --second-main: rgb(15 116 143 / 70%);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
}

ul {
  list-style: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  display: block;
  background: white;
  width: calc(100% - 30px);
  bottom: 0px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  position: relative;
}

nav ul li {
  padding: 40px 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.5s;
}

.form {
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
}

.form i {
  position: relative;
  color: white;
}

nav ul li:first-child {
  border-bottom: 1px solid var(--main-Color);
  z-index: 5;
}

nav ul li:first-child a {
  color: var(--main-Color);
}

nav ul li:hover {
  border-bottom: 1px solid var(--main-Color);
  z-index: 5;
}

nav ul li:hover a {
  color: var(--main-Color);
  z-index: 5;
}

.icon {
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 22px;
  color: white;
  display: none;
}

.landing {
  background-image: url(./Images/landing.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.5411764706);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
  top: -99.93px;
}

.theArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: white;
  position: relative;
  z-index: 2;
}

.Overlay .arrows {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  padding: 0px 30px;
}

.text {
  line-height: 1.8;
  padding: 25px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--second-main);
}

.text {
  padding: 50px;
}
.text .content {
  width: 600px;
  color: WHITE;
  padding-left: 100px;
}
.text .content h2 {
  font-size: 31px;
  font-weight: 500;
}
.text .content p {
  font-size: 14px;
}

.ContentDiv {
  width: calc(100% - 30px);
  line-height: 2.5;
  top: 10px;
  font-size: 17px;
  background-color: rgba(14, 13, 13, 0.5098039216);
  position: absolute;
  z-index: 1;
  font-weight: bold;
  top: 99px;
  display: none;
}

.ContentDiv ul {
  padding: 10px 30px;
}

.ContentDiv ul li {
  padding: 10px;
}

.ContentDiv ul li a {
  text-decoration: none;
  color: rgba(0, 188, 212, 0.831372549);
  transition: 0.3s;
  height: 100%;
  display: block;
}
.ContentDiv ul li a:hover {
  color: rgb(50, 123, 211);
  margin-left: 30px;
  transition: 0.3s;
}

.ContentDiv ul li:not(:last-child):after {
  content: "";
  background-color: white;
  width: 100%;
  height: 1px;
  display: block;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .icon {
    display: block;
  }
  nav {
    min-height: 99.39px;
  }
  nav ul {
    display: none;
  }
}
@media (min-width: 995px) {
  .container {
    width: 975px;
  }
  .icon {
    display: none;
  }
  nav ul {
    display: flex;
  }
}
@media (min-width: 1205px) {
  .container {
    width: 1185px;
  }
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  nav {
    min-height: 99.39px;
  }
  .icon {
    display: block;
  }
}
.Bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
}
.Bullets span {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid white;
}
.Bullets span:nth-child(2) {
  border: 1px solid var(--main-Color);
  background-color: var(--main-Color);
}

@media (max-width: 991px) {
  .text {
    width: 100%;
    justify-content: center;
  }
  .text .content {
    padding-left: 0px;
  }
  /*End Landing Here*/
}
.mainHeading {
  text-align: center;
  line-height: 1.8;
  padding-bottom: 100px;
  margin-top: -37px;
}
.mainHeading h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: normal;
}
.mainHeading h2::before {
  content: "";
  background-color: black;
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: 0px;
}
.mainHeading h2::after {
  content: "";
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: -7.5px;
  background-color: white;
}
.mainHeading p {
  padding-top: 20px;
  font-size: 16px;
  color: #777;
  width: 35%;
  margin: auto;
}

.mainHeading2 {
  text-align: center;
  line-height: 1.8;
  padding: 100px 0px;
  margin-top: -37px;
}
.mainHeading2 h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: normal;
}
.mainHeading2 h2::before {
  content: "";
  background-color: black;
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: 0px;
}
.mainHeading2 h2::after {
  content: "";
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: -7.5px;
  background-color: white;
}
.mainHeading2 p {
  padding-top: 20px;
  font-size: 16px;
  color: #777;
  width: 35%;
  margin: auto;
}

.ServicesDiv {
  padding-bottom: 100px;
}

.Father {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.Father .Contents {
  display: flex;
  padding: 20px;
  line-height: 1.8;
}
.Father .Contents h3 {
  color: var(--main-Color);
  padding-bottom: 25px;
}
.Father .Contents p {
  color: #777;
}
.Father .Contents i {
  width: 100px;
}
.Father .Contents .services-Content p {
  width: 420px;
}

@media (max-width: 768px) {
  .Father {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (max-width: 1205px) {
  .ServicesContent {
    text-align: center;
  }
  .ServicesContent .Contents {
    display: block;
  }
  .ServicesContent .Contents i {
    padding: 20px;
  }
  .ServicesContent .Contents .services-Content p {
    width: 100%;
  }
}
.Middle-Image {
  background-image: url(./Images/design-features.jpg);
  background-size: cover;
  height: 600px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.Middle-Image::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5411764706);
}
.Middle-Image img {
  position: relative;
  bottom: -250px;
}
.Middle-Image .Phone-Image {
  text-align: center;
  flex: 1;
}
.Middle-Image .Second-layer {
  flex: 1;
  display: flex;
  align-items: center;
}
.Middle-Image .Second-layer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Middle-Image .Second-layer li {
  display: flex;
  font-size: 20px;
  padding: 15px 0px;
}
.Middle-Image .Second-layer li i {
  width: 40px;
  color: white;
  font-size: 15px;
}
.Middle-Image .Second-layer h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 50px;
}
.Middle-Image .Second-layer p {
  color: white;
  font-size: 16px;
}
.Middle-Image .Second-layer .Second-layer-Content {
  background-color: var(--second-main);
  width: 100%;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
}

@media (max-width: 1050px) {
  .Phone-Image {
    display: none;
  }
}
.Filters {
  text-align: center;
}
.Filters ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.Filters ul li {
  padding: 15px 15px;
  margin-left: 5px;
}
.Filters ul li:first-child {
  background-color: var(--main-Color);
  color: white;
}

.Big-Images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
}
.Big-Images img {
  width: 100%;
  transition: 0.3s;
}
.Big-Images .F-image {
  position: relative;
  overflow: hidden;
}
.Big-Images .F-image .insideC {
  position: absolute;
  bottom: -80px;
  background-color: white;
  width: 100%;
  color: black;
  font-size: 17px;
  transition: all 0.1s ease-in-out;
}
.Big-Images .F-image .insideC p {
  padding: 10px 30px;
}
.Big-Images .F-image .insideC p:last-of-type {
  color: var(--main-Color);
}
.Big-Images .F-image:hover .insideC {
  transition: 0.3s;
  bottom: 0;
}
.Big-Images .F-image:hover img {
  scale: 1.2;
  transform: rotate(5deg);
  transition: 0.3s;
}

@media (max-width: 1205px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
@media (max-width: 991px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}
@media (min-width: 992px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (min-width: 1205px) and (max-width: 1394px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@media (min-width: 1395px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (max-width: 768px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
.More {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
  padding-bottom: 100px;
}
.More a {
  text-decoration: none;
  color: white;
}
.More p {
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  background-color: #19c8fa;
  cursor: pointer;
}

@media (max-width: 437px) {
  .Big-Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
.Awesome-Video {
  position: relative;
}
.Awesome-Video video {
  width: 100%;
}
.Awesome-Video .V-textContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--second-main);
  padding: 50px;
  width: 100%;
  text-align: center;
  color: white;
}
.Awesome-Video .V-textContent h3 {
  padding: 10px;
  font-weight: normal;
  font-size: 23px;
}
.Awesome-Video .V-textContent p {
  padding: 20px;
}
.Awesome-Video .V-textContent p:last-child {
  background-color: black;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.Awesome-Video::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5215686275);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.LapTopsDiv {
  position: relative;
  margin-top: 255px;
}

.lapContent {
  background-image: url(./Images/stats.png);
  width: 100%;
  background-size: cover;
}

.imgLap {
  display: flex;
  justify-content: center;
  position: relative;
}
.imgLap img {
  max-width: 100%;
  position: absolute;
  top: -255px;
  z-index: -1;
}

.different {
  padding: 80px;
  position: relative;
}
.different::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5215686275);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.different .Cups {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: var(--second-main);
  padding: 30px;
  position: relative;
}
.different .Cups h3 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}
.different .Cups p {
  color: white;
}
.different .Cups i {
  font-size: 17px;
  color: white;
  background-color: black;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media (max-width: 1200px) {
  .different .Cups {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 991px) {
  .different .Cups {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 768px) {
  .different {
    padding: 20px;
  }
  .different .Cups {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .imgLap img {
    margin-right: 15px;
  }
  .mainHeading2 p {
    width: 80%;
  }
  .mainHeading p {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .imgLap img {
    top: -150px;
  }
}
.my-Skill {
  margin-top: 120px;
}
.my-Skill .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.my-Skill .container .TEST {
  text-align: center;
  line-height: 1.5;
}
.my-Skill .container .TEST .con {
  line-height: 2;
}
.my-Skill .container .TEST h3 {
  margin-bottom: 10px;
  font-weight: 400;
}
.my-Skill .container .TEST .line {
  color: #777;
  width: 500px;
  margin: auto;
}
.my-Skill .container .TEST .ME {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}
.my-Skill .container .TEST .ME img {
  width: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.my-Skill .container .TEST .ME .meCON {
  height: 120px;
  text-align: start;
  flex: 1;
  width: 400px;
}
.my-Skill .container .TEST .ME .meCON p {
  line-height: 2;
  width: 358px;
  text-align: start;
}
.my-Skill .container .TEST .ME .meCON p:last-of-type {
  text-align: end;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  color: #ccc;
  font-size: 14px;
}

.balls {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.balls span {
  width: 15px;
  height: 15px;
  background-color: white;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #ccc;
}
.balls span:nth-child(2) {
  background-color: #19c8fa;
  border: 1px solid var(--main-Color);
}

.sKILL {
  margin-left: 50px;
}
.sKILL .con {
  line-height: 2;
  text-align: center;
  margin-bottom: 40px;
}
.sKILL h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}
.sKILL p {
  color: #777;
}
.sKILL .progress {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sKILL .progress .Prog {
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
  background-color: #ccc;
  position: relative;
}
.sKILL .progress :nth-child(2):before {
  content: "90%";
  font-size: 15px;
  background-color: black;
  width: 40px;
  height: 25px;
  color: white;
  display: block;
  position: absolute;
  top: -36px;
  right: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sKILL .progress :nth-child(2):after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: 45px;
}
.sKILL .progress :nth-child(4):before {
  content: "85%";
  font-size: 15px;
  background-color: black;
  width: 40px;
  height: 25px;
  color: white;
  display: block;
  position: absolute;
  top: -36px;
  right: 58px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sKILL .progress :nth-child(4):after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: 68px;
}
.sKILL .progress :nth-child(6):before {
  content: "80%";
  font-size: 15px;
  background-color: black;
  width: 40px;
  height: 25px;
  color: white;
  display: block;
  position: absolute;
  top: -36px;
  right: 84px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sKILL .progress :nth-child(6):after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: 94px;
}
.sKILL .progress :nth-child(8):before {
  content: "90%";
  font-size: 15px;
  background-color: black;
  width: 40px;
  height: 25px;
  color: white;
  display: block;
  position: absolute;
  top: -36px;
  right: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sKILL .progress :nth-child(8):after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: 45px;
}
.sKILL .progress :nth-child(2):before {
  content: "90%";
  font-size: 15px;
  background-color: black;
  width: 40px;
  height: 25px;
  color: white;
  display: block;
  position: absolute;
  top: -36px;
  right: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sKILL .progress :nth-child(2):after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: 45px;
}
.sKILL .progress :nth-child(2):before {
  content: "90%";
  font-size: 15px;
  background-color: black;
  width: 40px;
  height: 25px;
  color: white;
  display: block;
  position: absolute;
  top: -36px;
  right: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sKILL .progress :nth-child(2):after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: 45px;
}
.sKILL .progress .clr {
  background-color: var(--main-Color);
  width: 90%;
  height: 100%;
}
.sKILL .progress .clr1 {
  background-color: var(--main-Color);
  width: 85%;
  height: 100%;
}
.sKILL .progress .clr2 {
  background-color: var(--main-Color);
  width: 80%;
  height: 100%;
}
.sKILL .progress .clr3 {
  background-color: var(--main-Color);
  width: 90%;
  height: 100%;
}

.Small-Land {
  margin: 60px 0px;
  background-image: url(./Images/quote.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.Small-Land::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.Small-Land .Land-Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.Small-Land .Land-Content h3 {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 20px;
}

.PRICING .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.PRICING .PricingDiv {
  background-color: #fcfcfc;
  border-top: 1px solid var(--main-Color);
  padding-bottom: 10px;
  margin-top: 20px;
}
.PRICING .PricingDiv .ContentPrice {
  text-align: center;
  padding: 20px 45px;
}
.PRICING .PricingDiv .ContentPrice p {
  font-size: 20px;
  padding: 10px 30px;
}
.PRICING .PricingDiv .ContentPrice h3 {
  font-size: 55px;
  padding: 30px 20px;
}
.PRICING .PricingDiv .ContentPrice h3 sup {
  font-weight: 100;
}
.PRICING .PricingDiv .ContentPrice h3 sub {
  font-size: 17px;
}
.PRICING .PricingDiv .lists {
  border-top: 1px solid var(--main-Color);
  text-align: center;
  border-bottom: 1px solid var(--main-Color);
  padding-bottom: 15px;
}
.PRICING .PricingDiv .lists ul {
  font-size: 16px;
}
.PRICING .PricingDiv .lists ul li {
  padding-top: 20px;
  margin: auto;
  width: 150px;
}
.PRICING .PricingDiv .lists ul li:not(:last-child):after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--main-Color);
  display: block;
  text-align: center;
  margin-top: 15px;
}
.PRICING .PricingDiv .btn {
  text-align: center;
  padding: 20px 15px;
  border: 1px solid var(--main-Color);
  width: 108px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.PRICING .PricingDiv .btn p {
  z-index: 5;
  position: relative;
}
.PRICING .PricingDiv .btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #19c8fa;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(-200px);
  transition: 0.3s;
}
.PRICING .PricingDiv .btn:hover {
  color: white;
}
.PRICING .PricingDiv .btn:hover::before {
  transform: translateX(0);
}

.ContactPr {
  text-align: center;
  margin: 80px;
}
.ContactPr p:first-child {
  font-size: 20px;
  padding-bottom: 20px;
}
.ContactPr p:last-child {
  padding: 15px;
  background-color: #19c8fa;
  margin: auto;
  width: 150px;
  letter-spacing: 1px;
  cursor: pointer;
}
.ContactPr p:last-child a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  .mainHeading2 p, .mainHeading p {
    width: 58%;
  }
}
@media (max-width: 991px) {
  .my-Skill .container .TEST .ME .meCON p {
    width: 100%;
  }
  .line {
    width: 100%;
  }
  .sKILL {
    margin-left: 0;
  }
  .mainHeading2 p, .mainHeading p {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .my-Skill .container .TEST .ME {
    display: block;
  }
  .my-Skill .container .TEST .ME .meCON {
    width: 100%;
  }
  .my-Skill .container .TEST .line {
    width: 100%;
  }
  .PRICING .container {
    justify-content: center;
  }
  .PRICING .container .PricingDiv {
    width: 100%;
  }
  .my-Skill .container .TEST, .my-Skill .container .sKILL {
    width: 95%;
  }
  .my-Skill .container .TEST .ME img {
    margin-right: 0px;
  }
  .ContactPr {
    margin: 20px;
  }
  .mainHeading2 p, .mainHeading p {
    width: 95%;
  }
}
.Planet {
  background-image: url(./Images/subscribe.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}
.Planet::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.Planet .Things {
  display: flex;
  position: relative;
  color: white;
  margin: auto;
  justify-content: center;
  position: relative;
}
.Planet .Things .divform {
  display: flex;
}
.Planet .Things input[type=text] {
  width: 300px;
  background-color: transparent;
  padding-left: 80px;
  color: white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  height: 60px;
  outline: none;
}
.Planet .Things input[type=text]::-moz-placeholder {
  color: white;
}
.Planet .Things input[type=text]::placeholder {
  color: white;
}
.Planet .Things button {
  outline: none;
  height: 60px;
  width: 150px;
  border: none;
  background-color: #19c8fa;
  color: white;
  margin-right: 30px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.Planet .Things p {
  line-height: 1.8;
  width: 50%;
}
.Planet .Things i {
  position: relative;
  left: 40px;
  font-size: 25px;
  LINE-HEIGHT: 2.5;
}

@media (max-width: 768px) {
  .Planet .Things {
    display: block;
    text-align: center;
  }
  .Planet .Things .divform {
    justify-content: center;
  }
  .Planet .Things p {
    text-align: center;
    width: 80%;
    margin-top: 15px;
    margin: auto;
  }
  .Planet .Things input[type=text] {
    width: 200px;
  }
}
.InputDiv {
  display: block;
  width: 75%;
}
.InputDiv input[type=text] {
  width: 100%;
  padding: 18px;
  outline: none;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.InputDiv textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  outline: none;
}

.ContactDiv .container {
  display: flex;
  justify-content: space-between;
}
.ContactDiv .container .InputDiv div {
  text-align: end;
  margin-top: 15px;
}
.ContactDiv .container .InputDiv div button {
  outline: none;
  background-color: #19c8fa;
  color: white;
  padding: 20px 20px;
  border: none;
}
.ContactDiv .messsages div {
  padding: 20px;
  margin-bottom: 50px;
}
.ContactDiv .messsages div h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.ContactDiv .messsages div p {
  margin-bottom: 10px;
  color: #777;
}

.Planet1 {
  background-image: url(./Images/subscribe.jpg);
  height: 380px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 80px;
}
.Planet1::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.FooterDiv {
  position: relative;
  height: 100%;
  text-align: center;
}
.FooterDiv h5 {
  color: white;
  font-size: 17px;
  font-weight: 400;
}
.FooterDiv h5 span:last-child {
  color: #19c8fa;
  font-weight: bold;
}
.FooterDiv h5 span:first-child {
  font-weight: bold;
  margin-right: 3px;
}
.FooterDiv ul {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-bottom: 60px;
}
.FooterDiv .img0 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.FooterDiv .img0 img {
  width: 112px;
}
.FooterDiv .divList {
  margin-bottom: 25px;
  border-bottom: 1px solid white;
  color: white;
  padding: 20px;
}
.FooterDiv .divList h2 {
  font-weight: 400;
}/*# sourceMappingURL=Template.css.map */